{% extends 'base.html' %}
{% block content %}
<h1>Add expense</h1>

<ul class="list-group">
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
   <li class="list-group-item">bought-beer</li>
</ul>
{% endblock content %}