{% extends 'base.html' %}

{% block content %}

 <h1> Expenses List</h1>
    <ul class="list-group ">
        
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
        <li class="list-group-item">bought mein</li>
    </ul>

{% endblock content %}